.playersContainer {
    position: relative;
    background-color: white;
    width: 20vw;
    height: 64.5vh;
    margin-top: 15vh;
    border: 2px solid black;
    left: 15%;
}

.playerFont {
    font-size: 15px;
}

.playerList {
    border-top: 1px solid grey;
    margin-top: 2vh;
}