.board {
    width: 52vw;
    height: 64.5vh;
    background-color: white;
    text-align: center;
}


.sizeContainer {
    margin: auto;
    text-align: center;
}

.colorContainer {
    margin: auto;
    text-align: center;
}

.options {
    position: absolute;
    margin: auto;
    text-align: center;
    display: inline-block;
    bottom: 5%;
    width: 100%;
    left: 0%;
}


.boardContainer {
    text-align: center;
    margin-top: 15vh;
    display: inline-block;
    width: 50vw;
    height: 60vh;
    margin-left: 7%;
}

.pickerBTN {
    height: 2vh;
}