#Homepage {
    background-color: light;
    margin: 0;
    height: 95vh;
    width: 100vw;
    max-width: 100%;
    color: #363537;
    text-align: center;
}

#Login {
    margin: auto;
    width: 50%;
    border: 3px solid gray;
    border-radius: 25px;
    padding: 10px;
    margin-top: 100px;
    text-align:center;
}

#Logout {
    margin: auto;
    width: 50%;
    border: 3px solid gray;
    border-radius: 25px;
    padding: 10px;
    margin-top: 100px;
    text-align:center;
}

.title {
    text-align: center;
}

.intro {
    text-align: center;
}

.login_button {
    border-radius: 15px;
}

.homepage_buttons {
    width: 20vw;
    height: 40vh;
    /* position: relative; */
    /* width: fit-content; */
    /* float:left; */
    /* background-color: lightblue; */
    border: 3px solid gray;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.online_users {
    width: 20vw;
    height: 40vh;
    /* float: left; */
    /* width: fit-content; */
    /* background-color: lightcoral; */
    border: 3px solid gray;
    border-radius: 10px;
    text-align: left;
    padding: 10px;
    overflow-y: scroll;
}

.notifications {
    width: 20vw;
    height: 40vh;
    /* width: fit-content; */
    /* background-color: lightcoral; */
    border: 3px solid gray;
    border-radius: 10px;
    padding: 10px;
    overflow-y: scroll;
}

.container_divs{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.container > div {
    flex: 1;
}

.home_divs{
    text-align: center;
}

.notiList {
    text-align: center;
    font-size: 2vh;
}